body{
    margin: 0;
	padding: 0; 

    nav{
        background:#43b8c7;
        color: #3f4a60;
        padding: 1rem 2rem;
        
        font-family: 'Source Sans Pro', sans-serif;
        font-size: 24px;
        font-weight: 700;
    }

    .console{
        color:white;
	    background: #3f4a60;
        font-family: 'Source Code Pro', monospace;
	    height: 27vh;
	    min-height: 27vh;
	    max-height: 38vh;

	    resize: vertical;
        overflow: scroll;
        overflow-x: hidden;

        padding: 1rem 1rem ;
    }

    .container-canvas{
	    height: 42vh;
        padding: .9rem 4rem 0rem 2rem;

        canvas{
            max-height: 40vh;
            width: 0px; /* It's zero because it has to go along the .container-canvas*/
        }
    }

    footer{
	    background:#43b8c7;
	
	    height: 14.5vh;
	    padding: 0rem 2rem;

	    display: flex;
	    align-items: center;
  
        position:fixed;
        width:100%;

    #buttonGenerateChart{
	    background:#3f4a60;
	    color: white;
        font-family: 'Source Sans Pro', sans-serif;
        font-size: 15px;
	    font-weight: 700;
	    text-transform: uppercase;
	
	    display: flex;
	    align-items: center;

	    height: 2.5rem;
        padding: 1rem;

	    border: 0;
	    border-radius: 5px;

	    cursor: pointer;

        box-shadow: 1px 1px 3px black;
    }

    #buttonGenerateChart:hover{
	    background: #4682B4;
    }

    .sync{
        color: rgba(0, 0, 0, 0.5);
        margin-left:1%;
        padding: .50rem;
        cursor: pointer;
        border-radius: 5px;    
    }

    .sync:hover{
       background:  rgba(0, 0, 0, 0.1);
       color: white;
    }
    }
}